<phpunit bootstrap="../tests/bootstrap.php">
  <testsuites>
    <testsuite name="be_ixf_php_sdk">
        <directory>../tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <file>../src/be_ixf_client.php</file>
      <exclude>
         <directory suffix=".php">/path/to/files</directory>
         <file>/path/to/file</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
